version: 2.1

orbs:
  node: circleci/node@5.0.2

jobs:
  test:
    docker:
      - image: cimg/node:20-browsers
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Run tests
          command: npm test
      - run:
          name: Run code coverage
          command: npm run coverage
      - run:
          name: Upload coverage to Codecov
          command: |
            curl -Os https://uploader.codecov.io/latest/linux/codecov
            chmod +x codecov
            ./codecov -t ${CODECOV_TOKEN}

  lint:
    docker:
      - image: cimg/node:20-browsers
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Run linter
          command: npm run lint

  build:
    docker:
      - image: cimg/node:20-browsers
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Build project
          command: npm run build
      - persist_to_workspace:
          root: .
          paths:
            - dist

  deploy:
    docker:
      - image: cimg/node:20-browsers
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Deploy to production
          command: |
            echo "Deploying to production..."
            # Add your deployment commands here

workflows:
  version: 2
  test-lint-build-deploy:
    jobs:
      - test
      - lint
      - build:
          requires:
            - test
            - lint
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: main
